body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #ffffff;
}
p {font-size: 15px;}
.margin {margin-bottom: 45px;}

.bg-2 { 
    background-color: #474e5d; /* Dark Blue */
    color: #ffffff;
    height: 177px;
    margin-top: 100%;
}
.navbar{
    background-color: #1abc9c;
    color: #ffffff;
}
.navbar.navbar-default.nav2{
    background-color: #474e5de0;
    color: #ffffff;
    height: 15px;
}
.navbar-brand.nav2{
    font-size: 13px;
}
.panel {
    border: 1px solid #f4501ea6; 
    border-radius:0 !important;
    transition: box-shadow 0.5s;
}
.panel:hover {
    box-shadow: 5px 0px 40px rgba(0,0,0, .2);
}
.panel-footer .btn:hover {
    border: 1px solid #f4501ea6;
    background-color: #fff !important;
    color: #f4501ea6;
}
.panel-heading {
    color: #fff !important;
    background-color: #f4501ea6 !important;
    padding: 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    
}
.panel-footer {
    background-color: white !important;
}
.panel-footer h3 {
    font-size: 20px;
}
.panel-footer h4 {
    color: #aaa;
    font-size: 14px;
}
.dropdown-toggle{
    color: #fff !important;
}
.dropdown-menu{
    background-color: #1abc9c;
    color: #ffffff;
}
.container-fluid.paneles{
    margin-top: 1%;
}
.btn-ttc,
.btn-ttc:hover,
.btn-ttc:active {
    background-color: #1abc9c !important;
    color: snow;
    align-self: center;
}