<script src="register.component.ts"></script>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/search-home" style="color: #fff !important">Panari's Candy Shop</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/search-register" style="color: #fff !important">
                        <span class="glyphicon glyphicon-user"></span>Registrate</a>
                </li>
                <li>
                    <a href="/search-login" style="color: #fff !important">
                        <span class="glyphicon glyphicon-log-in"></span>Iniciar Sesión</a>
                </li>
                <li>
                    <a href="/search-cart" style="color: #fff !important">Carrito</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<br>
<br>
<br>
<br>
<br>

<div id="pricing" class="container-fluid">
    <div class="row slideanim">
        <div class="col-sm-4 col-xs-12"></div>
        <div class="col-sm-4 col-xs-12">
            <div class="panel panel-default ">
                <div class="panel-heading text-center">
                    <h1>Registrate</h1>
                </div>
                <div class="panel-body">
                    <p>Datos personales:</p>
                    <div class="form-group" style="width: 75%; margin-left: 15%">
                        <input type="email" class="form-control" id="email" placeholder="Email" required [(ngModel)]="user.email">
                    </div>
                    <div class="form-group" style="width: 75%; margin-left: 15%">
                        <input type="text" class="form-control" id="firstName" placeholder="Nombre" required [(ngModel)]="user.firstName">
                    </div>
                    <div class="form-group" style="width: 75%; margin-left: 15%">
                        <input type="text" class="form-control" id="lastName" placeholder="Apellidos" required [(ngModel)]="user.lastName">
                    </div>
                    <div class="form-group" style="width: 75%; margin-left: 15%">
                        <input type="text" class="form-control" id="password" placeholder="Contraseña" required [(ngModel)]="user.password">
                    </div>
                    <p>Dirección:</p>
                    <div class="form-group" style="width: 75%; margin-left: 15%">
                        <input type="text" class="form-control" id="country" placeholder="País" required [(ngModel)]="user.country">
                    </div>
                    <div class="form-group" style="width: 75%; margin-left: 15%">
                        <input type="text" class="form-control" id="province" placeholder="Provincia" required [(ngModel)]="user.province">
                    </div>
                    <div class="form-group" style="width: 75%; margin-left: 15%">
                        <input type="text" class="form-control" id="canton" placeholder="Canton" required [(ngModel)]="user.canton">
                    </div>
                    <div class="form-group" style="width: 75%; margin-left: 15%">
                        <input type="text" class="form-control" id="district" placeholder="Distrito" required [(ngModel)]="user.district">
                    </div>
                    <div class="form-group" style="width: 75%; margin-left: 15%">
                        <input type="text" class="form-control" id="postalCode" placeholder="Codigo postal" required [(ngModel)]="user.postalCode">
                    </div>
                    <a href="/search-login" type="submit" class="btn btn-ttc" (click)="insert()">Registrarse</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-xs-12"></div>
    </div>
</div>
<div class="container-fluid bg-2 text-center">
    <h3 class="margin">Panari's Candy Shop</h3>
    <p class="footer">La mejor tienda de dulces al alcance de un click </p>
</div>