<script src="cart.component.ts"></script>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/search-home" style="color: #fff !important">Panari's Candy Shop</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/search-register" style="color: #fff !important">
                        <span class="glyphicon glyphicon-user"></span>Registrate</a>
                </li>
                <li>
                    <a href="/search-login" style="color: #fff !important">
                        <span class="glyphicon glyphicon-log-in"></span>Iniciar Sesión</a>
                </li>
                <li>
                    <a href="/search-cart" style="color: #fff !important">Carrito</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<br>
<br>
<br>
<br>
<br>
<div class="container">
  <div *ngFor="let order of orderDetails">
      <br>
    <div class="panel panel-success class">
      
      <div class="panel-heading">

      </div>
      <div class="panel-body">
        <div class="row">

          <div class="col-sm-4" style="border-color: #0E8E99;">
            <table style="height: 5%;" align="center" class="table table-striped table-responsive table-condensed">
              <tbody>
                <td>
                  <tr>Nombre del producto: {{order.product.productName}}</tr>
                  <tr>Descripcion: {{order.product.description}}</tr>
                  <tr>Precio por unidad: {{order.product.price}}</tr>
                  <tr>Cantidad: {{order.quantity}}</tr>
                  <tr>
                    <a class="btn btn-danger" role="button" (click)="delete(order.orderDetail)">Eliminar</a>
                  </tr>
                </td>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <a type="button" class="btn btn-ttc" style="margin-left: 1000px; height: 40px; width: 70px; text-align: center;" (click)="pay(order)">Pagar</a>
</div>
<div class="container-fluid bg-2 text-center">
    <h3 class="margin">Panari's Candy Shop</h3>
    <p class="footer">La mejor tienda de dulces al alcance de un click </p>
</div>