<script src="update-products.component.ts"></script>
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/home-admin" style="color: #fff !important">Panari's Candy Shop</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="/search-login" style="color: #fff !important" (click)="close()">
            <span class="glyphicon glyphicon-log-in"></span>Cerrar Sesión</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="jumbotron" style=" background-color: #474e5d !important;">
  <div class="container jumbo" style=" margin-top: 2%; height: 20px;">
    <nav class="navbar navbar-default nav2" style="margin-left: 5%">
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li>
            <a class="navbar-brand nav2" href="/insert-product" style="color: #fff !important">Insertar un Producto</a>
          </li>
          <li>
            <a class="navbar-brand nav2" href="/update-product" style="color: #fff !important">Editar un Producto</a>
          </li>
          <li>
            <a class="navbar-brand nav2 " href="/inventory" style="color: #fff !important">Ingresar inventario</a>
          </li>
          <li>
            <a class="navbar-brand nav2 " href="/delete-product" style="color: #fff !important">Eliminar un Producto</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>
<div class="container-fluid bg-2 text-center">
    <h3 class="margin">Panari's Candy Shop</h3>
    <p>La mejor tienda de dulces al alcance de un click </p>
  </div>