<script src="login.component.ts"></script>
<style>
    /* You can add global styles to this file, and also import other style files */

    .navbar {
        padding-top: 15px;
        padding-bottom: 15px;
        border: 0;
        border-radius: 0;
        margin-bottom: 0;
        font-size: 12px;
        letter-spacing: 5px;
    }

    .navbar-nav li a:hover {
        color: #1abc9c !important;
    }

</style>

<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header" style="margin-left: 5%">
            <a class="navbar-brand" href="/search-home" >Panari's Candy Shop</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/search-register">
                        <span class="glyphicon glyphicon-user"></span>Registrarse</a>
                </li>
                <li>
                    <a href="/search-login">
                        <span class="glyphicon glyphicon-log-in"></span>Iniciar Sesión</a>
                </li>
                <li>
                    <a href="/search-cart">Carrito</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <div class="login100-pic js-tilt" data-tilt>
                <img src="/src/app/login/images/img-01.png" alt="IMG">
            </div>

            <form class="login100-form validate-form">
                <span class="login100-form-title">
                    Member Login
                </span>

                <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
                    <input class="input100" type="text" name="email" placeholder="Email" [(ngModel)]="login.email">
                    <span class="focus-input100"></span>
                    <span class="symbol-input100 glyphicon glyphicon-user">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                    </span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Password is required">
                    <input class="input100" type="password" name="pass" placeholder="Password" [(ngModel)]="login.password">
                    <span class="focus-input100"></span>
                    <span class="symbol-input100 glyphicon glyphicon-lock">
                        <i class="fa fa-lock" aria-hidden="true"></i>
                    </span>
                </div>

                <div class="container-login100-form-btn">
                    <button class="login100-form-btn" (click)="search()" routerLink="/search-home">
                        Login
                    </button>
                </div>

                <div class="text-center p-t-12">
                    <span class="txt1">
                        <table class="table table-bordered table-striped" style="margin-top: 20px;">
                            <thead>
                                <tr>
                                    <td>Role del Usuario</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let role of roles">
                                    <td class="active" style="text-align: center;">{{role.name_role}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </span>
                    <a class="txt2" href="#">

                    </a>
                </div>
            </form>
        </div>
    </div>
</div>




<!--===============================================================================================-->
<script src="../login/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="../login/vendor/bootstrap/js/popper.js"></script>
<script src="../login/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="../login/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
<script src="../login/vendor/tilt/tilt.jquery.min.js"></script>
<script>
    $('.js-tilt').tilt({
        scale: 1.1
    })
</script>
<!--===============================================================================================-->
<script src="../login/js/main.js"></script>
<script>


        (function ($) {
            "use strict";


            /*==================================================================
            [ Validate ]*/
            var input = $('.validate-input .input100');

            $('.validate-form').on('submit', function () {
                var check = true;

                for (var i = 0; i < input.length; i++) {
                    if (validate(input[i]) == false) {
                        showValidate(input[i]);
                        check = false;
                    }
                }

                return check;
            });


            $('.validate-form .input100').each(function () {
                $(this).focus(function () {
                    hideValidate(this);
                });
            });

            function validate(input) {
                if ($(input).attr('type') == 'email' || $(input).attr('name') == 'email') {
                    if ($(input).val().trim().match(/^([a-zA-Z0-9_\-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([a-zA-Z0-9\-]+\.)+))([a-zA-Z]{1,5}|[0-9]{1,3})(\]?)$/) == null) {
                        return false;
                    }
                }
                else {
                    if ($(input).val().trim() == '') {
                        return false;
                    }
                }
            }

            function showValidate(input) {
                var thisAlert = $(input).parent();

                $(thisAlert).addClass('alert-validate');
            }

            function hideValidate(input) {
                var thisAlert = $(input).parent();

                $(thisAlert).removeClass('alert-validate');
            }



        })(jQuery);
</script>