<script src="inventory.component.ts"></script>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/home-admin" style="color: #fff !important">Panari's Candy Shop</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/search-login" style="color: #fff !important">
                        <span class="glyphicon glyphicon-log-in"></span>Cerrar Sesión</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<br>
<br>
<br>
<br>
<br>
<br>
<div id="pricing" class="container-fluid">
    <div class="row slideanim">
        <div class="col-sm-1 col-xs-12"></div>
        <div class="col-sm-5 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading text-center">
                    <h1>Lista de productos existentes</h1>
                </div>
                <div class="panel-body">
                    <div class="form-group col-xs-4">
                        <br>
                        <table class="table table-bordered table-striped">
                            <tr>
                              <th>Código</th>
                              <th>Nombre</th>
                              <th>Unidades almacenadas</th>
                              <th>Descripción</th>
                            </tr>
                            <tr *ngFor="let product of products">
                              <td>{{product.productId}}</td>
                              <td>{{product.productName}}</td>
                              <td>{{product.unitsOnStock}}</td>
                              <td>{{product.description}}</td>
                            </tr>
                          </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-xs-12">
            <div class="panel panel-default ">
                <div class="panel-heading text-center">
                    <h1>Ingreso de nuevos productos al inventario</h1>
                </div>
                <div class="panel-body">
                    <label>Seleccione el producto que ingresara al inventario</label>
                    <select [(ngModel)]="productId">
                        <option *ngFor="let item of products" [ngValue]="item.productId">{{item.productName}}</option>
                      </select>
                    <input placeholder="cantidad de unidades" [(ngModel)]="units">
                </div>
                <div class="panel-footer">
                    <button class="btn btn-ttc">Editar</button>
                </div>
            </div>
        </div>
        <div class="col-sm-2 col-xs-12"></div>
    </div>
</div>