<script src="inventory.component.ts"></script>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/home-admin" style="color: #fff !important">Panari's Candy Shop</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/search-register" style="color: #fff !important">
                        <span class="glyphicon glyphicon-user"></span>Registrate</a>
                </li>
                <li>
                    <a href="/search-login" style="color: #fff !important" (click)="close()">
                        <span class="glyphicon glyphicon-log-in"></span>Cerrar Sesión</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<br>
<br>
<br>
<br>
<br>
<br>
<div id="pricing" class="container-fluid">
    <div class="row slideanim">
        <div class="col-sm-4 col-xs-12"></div>
        <div class="col-sm-4 col-xs-12">
            <div class="panel panel-default ">
                <div class="panel-heading text-center">
                    <h1>Modificar cantidad de productos en el inventario</h1>
                </div>
                <div class="panel-body">
                    <div class="form-group" style="width: 75%; margin-left: 15%">
                        <input type="text" class="form-control" id="productName" placeholder="Nombre" required [(ngModel)]="product.productName">
                    </div>
                    <div class="form-group" style="width: 75%; margin-left: 15%">
                        <input type="text" class="form-control" id="price" placeholder="Precio" required [(ngModel)]="product.price">
                    </div>
                    <div class="form-group" style="width: 75%; margin-left: 15%">
                        <input type="text" class="form-control" id="description" placeholder="Descripcion" required [(ngModel)]="product.description">
                    </div>
                    <div class="form-group" style="width: 75%; margin-left: 15%">
                        <input type="text" class="form-control" id="salesTax" placeholder="Impuesto de Ventas" required [(ngModel)]="product.salesTax">
                    </div>
                    <div class="form-group" style="width: 75%; margin-left: 15%">
                            <select   [(ngModel)]="product.productCategory.productCategoryId" id="productCategoryId">
                    <option *ngFor="let cat of categories" [(ngValue)]="cat.productCategoryId">{{cat.productCategoryName}}</option>
                            </select>
                        </div>
                    <a type="submit" class="btn btn-ttc" (click)="createProduct()">Insertar Producto</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-xs-12"></div>
    </div>
</div>