<script src="home-administrator.component.ts"></script>
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container" >
    <div class="navbar-header">
      <a class="navbar-brand" href="/search-home" style="color: #fff !important">Panari's Candy Shop</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="/search-register" style="color: #fff !important">
            <span class="glyphicon glyphicon-user" ></span>Registrar un usuario</a>
        </li>
        <li>
          <a href="/search-login"  style="color: #fff !important">
            <span class="glyphicon glyphicon-log-in"></span>Iniciar Sesión</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

  <div id="pricing" class="container-fluid paneles">
      <div class="row slideanim">
        <div class="col-sm-3 col-xs-12">
          <div class="panel panel-default text-center">
            <div class="panel-heading">
              <h1>Mantenimiento de Categorias</h1>
            </div>
            <div class="panel-body">
              <p>Permite agregar una nueva categoría.</p>
              <p>Permite editar una categoría ya existente.</p>
              <p>Permite eliminar una categoría que no este relacionada con un producto.</p>
            </div>
            <div class="panel-footer">
                <button class="btn btn-ttc">Sign Up</button>
            </div>
          </div>      
        </div>  
        <div class="col-sm-3 col-xs-12">
            <div class="panel panel-default text-center">
              <div class="panel-heading">
                <h1>Mantenimiento de productos</h1>
              </div>
              <div class="panel-body">
                <p><strong>20</strong> Lorem</p>
                <p><strong>15</strong> Ipsum</p>
                <p><strong>5</strong> Dolor</p>
                <p><strong>2</strong> Sit</p>
                <p><strong>Endless</strong> Amet</p>
              </div>
              <div class="panel-footer">
                  <button class="btn btn-ttc">Sign Up</button>
              </div>
            </div>      
          </div>    
        <div class="col-sm-3 col-xs-12">
          <div class="panel panel-default text-center">
            <div class="panel-heading">
              <h1>Reporte</h1>
            </div>
            <div class="panel-body">
              <p>Listado del total de ventas de clientes que compraron en el último mes.</p>
            </div>
            <div class="panel-footer">
                <button class="btn btn-ttc">Sign Up</button>
              </div>
          </div>      
        </div>       
        <div class="col-sm-3 col-xs-12">
          <div class="panel panel-default text-center">
            <div class="panel-heading">
              <h1>Reporte</h1>
            </div>
            <div class="panel-body">
              <p> Listado de los 2 productos más vendidos en el último mes en cada categoría existente</p>
            </div>
            <div class="panel-footer">
                <button class="btn btn-ttc">Sign Up</button>
              </div>
          </div>      
        </div>    
      </div>
    </div>

<div class="container-fluid bg-2 text-center">
  <h3 class="margin">Panari's Candy Shop</h3>
  <p>La mejor tienda de dulces al alcance de un click </p>
</div>