<script src="report-customers.component.ts"></script>

<div class="limiter">
    <div class="container">
            <button type="button" class="btn btn-danger">PDF</button>
            <button type="button" class="btn btn-success">Excel</button>
    </div>
    <div class="container">
        <table class="table">
          <thead>
            <tr>
              <th>Firstname</th>
              <th>Lastname</th>
              <th>Email</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>John</td>
              <td>Doe</td>
              <td>john@example.com</td>
            </tr>
          </tbody>
        </table>
      </div>
</div>