<script src="report-products.component.ts"></script>
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container" >
    <div class="navbar-header">
      <a class="navbar-brand" href="/home-admin" style="color: #fff !important">Panari's Candy Shop</a>
    </div>
  </div>
</nav>
<div id="pricing" class="container-fluid paneles" align="center">
    <div class="row slideanim">
      <div class="col-xs-10">
        <div class="panel panel-default text-center">
          <div class="panel-heading">
            <h1>Listado de los 2 productos más vendidos en el último mes en cada categoría existente</h1>
          </div>
          <div class="panel-body">
            <div class="form-group col-xs-4">
              <label>Selecione la categoria a consultar:</label>
              <select class="form-control">
                  <option>1</option>
                  <option>2</option>
                </select>
            </div>
            <br>
            <table>
                <tr>
                  <th>Nombre</th>
                  <th>Apellido</th>
                  <th>Correo</th>
                  <th>Compras realizadas</th>
                </tr>
                <tr>
                  <td>das</td>
                  <td>aa</td>
                  <td>s</td>
                  <td>1</td>
                </tr>
              </table>
          </div>
          <br>
          <div class="panel-footer">
              <button class="btn btn-ttc">Generar PDF</button>
          </div>
        </div>  
      </div>
    </div>
  </div>
